/* Based on Dayle Rees' laravel theme */

.cm-s-laravel.CodeMirror              {background: #272822; color: #f8f8f2;}
.cm-s-laravel div.CodeMirror-selected { background: #444 !important;}
.cm-s-laravel .CodeMirror-gutters     {background: #272822; border-right: 0px;}
.cm-s-laravel .CodeMirror-linenumber  {color: #d0d0d0;}
.cm-s-laravel .CodeMirror-cursor      {border-left: 1px solid #f8f8f0 !important;}

.cm-s-laravel span.cm-comment 		  { color: #9B8C80; }
.cm-s-laravel span.cm-atom            { color: #FDCA49; }
.cm-s-laravel span.cm-number          { color: #FC580C; }

.cm-s-laravel span.cm-property		  { color: white; } 
.cm-s-laravel span.cm-attribute 	  { color: #FFC48C; }
.cm-s-laravel span.cm-keyword         { color: #FFA927; }
.cm-s-laravel span.cm-string          { color: #FDCA49; }


.cm-s-laravel span.cm-variable        { color: #F8F8F0; } /*PHP: generic unknown laravel value */ 
.cm-s-laravel span.cm-variable-2      { color: #FFC48C; } /*PHP: anything with $ */
.cm-s-laravel span.cm-variable-3 	  { color: #f92672; }
.cm-s-laravel span.cm-class      	  { color: #71C6FF; }
.cm-s-laravel span.cm-def             { color: #f92672; }
.cm-s-laravel span.cm-error           { background: #f00; color: #f8f8f0;}
.cm-s-laravel span.cm-bracket         { color: #f8f8f2; color: #997;}
.cm-s-laravel span.cm-tag             { color: #F5AD69; }
.cm-s-laravel span.cm-link            { color: #f92672;}

.cm-s-laravel span.cm-operator   { color: #F38630; }
.cm-s-laravel span.cm-phpStandardFunctions   { color: #FFAA82; }
.cm-s-laravel span.cm-string-2   { color: #f50; }
.cm-s-laravel span.cm-meta       { color: #f92672; }
.cm-s-laravel span.cm-qualifier  { color: #555; }
.cm-s-laravel span.cm-builtin    { color: #FC580C; }
.cm-s-laravel span.cm-header     { color: #75715E; }
.cm-s-laravel span.cm-quote      { color: #E6DB74; }
.cm-s-laravel span.cm-hr         { color: #999; }

.cm-s-laravel span.cm-tab { background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAAXNSR0IArs4c6QAAAGFJREFUSMft1LsRQFAQheHPowAKoACx3IgEKtaEHujDjORSgWTH/ZOdnZOcM/sgk/kFFWY0qV8foQwS4MKBCS3qR6ixBJvElOobYAtivseIE120FaowJPN75GMu8j/LfMwNjh4HUpwg4LUAAAAASUVORK5CYII=);
    background-position: right;
    background-repeat: no-repeat;
}

.cm-s-laravel .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}
span.CodeMirror-matchhighlight { 
    border:solid 1px #0AB5EB;
    border-radius:4px; 
}
